<form method="post" action="{{ path('batiment_suppression', {'id': batiment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ batiment.id) }}">
	<button class="btn btn-danger">Delete</button>
</form>
