{{ form_start(messageForumForm) }}
    {{ form_widget(messageForumForm) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrez') }}</button> <br><br>
{{ form_end(messageForumForm) }}