{{ form_start(documentalisteForm) }}
    {{ form_widget(documentalisteForm) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrez') }}</button> <br><br>
{{ form_end(documentalisteForm) }}