{% extends 'base.html.twig' %}
{% form_theme professeurForm 'bootstrap_4_layout.html.twig'  %}
{% block title %}Edit Referent
{% endblock %}


{% block body %}
	<div class="container">
		<h5>Edition Referent</h5>
		<hr style="width:100%; height:5px; background-color:#1B4F72 ">


		{{ include('Utilisateur/professeur/_form.html.twig', {'class="btn btn-primary"': 'Update'}) }}

		<a href="{{ path('professeur_index') }}" class="btn btn-secondary">Liste de</a>


		{{ include('Utilisateur/professeur/_delete_form.html.twig') }}
	</div>
{% endblock %}
