{{ form_start(categorieForumForm) }}
    {{ form_widget(categorieForumForm) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrez') }}</button> <br><br>
{{ form_end(categorieForumForm) }}
