<!DOCTYPE html>
{% include 'tools/page/head.html.twig' %}
<style>
    .container-85 {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<body>
    {% include 'tools/page/header.html.twig' %}
    <div class="container container-85">
        {% if app.user %}
            {% for role in app.user.roles %}
                
                {% if role == "ROLE_DIRECTION" %}
                    {% include 'tools/navigation/nav-direction.html.twig' %}
                {% elseif role == "ROLE_ELEVE" %}
                    {% include 'tools/navigation/nav-eleve.html.twig' %}
                {% elseif role == "ROLE_ADMIN" %}
                    {% include 'tools/navigation/nav-admin.html.twig' %}
                {% elseif role == "ROLE_PROFESSEUR" %}
                    {% include 'tools/navigation/nav-professeur.html.twig' %}
                {% elseif role == "ROLE_DOCUMENTALISTE" %}
                    {% include 'tools/navigation/nav-documentaliste.html.twig' %}
                {% elseif role == "ROLE_CUISINE" %}
                    {% include 'tools/navigation/nav-cuisine.html.twig' %}
                {% elseif role == "ROLE_INSERTION" %}
                    {% include 'tools/navigation/nav-insertion.html.twig' %}
                {% elseif role == "ROLE_SECRETARIAT"  or role == "ROLE_DIRECTION" %}
                    {% include 'tools/navigation/nav-secretariat.html.twig' %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% include 'tools/navigation/navigation.html.twig' %}
        {% endif %}    
        {% block body %}
            
        {% endblock %}
        {% include 'tools/page/footer.html.twig' %}
        {{dump(app.user)}}
    </div>
    </body>
</html>
