{% extends 'base.html.twig' %}
{% form_theme repasForm 'bootstrap_4_layout.html.twig'  %}
{% block title %}Edit Legume
{% endblock %}


{% block body %}
	<div class="container">
		<h5>Edition Legume</h5>
		<hr style="width:100%; height:5px; background-color:#1B4F72 ">


		{{ include('cantine/repas/_form.html.twig', {'class="btn btn-primary"': 'Update'}) }}

		<a href="{{ path('repas_index') }}" class="btn btn-secondary">Liste de</a>


		{{ include('cantine/repas/_delete_form.html.twig') }}
	</div>
{% endblock %}
