{% extends 'base.html.twig' %}
{% form_theme directionForm 'bootstrap_4_layout.html.twig'  %}
{% block title %}Edit Direction
{% endblock %}


{% block body %}
	<div class="container">
		<h5>Edition Direction</h5>
		<hr style="width:100%; height:5px; background-color:#1B4F72 ">


		{{ include('Utilisateur/direction/_form.html.twig', {'class="btn btn-primary"': 'Update'}) }}

		<a href="{{ path('direction_index') }}" class="btn btn-secondary">Liste de</a>


		{{ include('Utilisateur/direction/_delete_form.html.twig') }}
	</div>
{% endblock %}
