{{ form_start(statutEmpruntForm) }}
    {{ form_widget(statutEmpruntForm) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrez') }}</button> <br><br>
{{ form_end(statutEmpruntForm) }}