{% extends 'base.html.twig' %}


{% form_theme statutEmpruntForm 'bootstrap_4_layout.html.twig'  %}

{% block title %}New StatutEmprunt
{% endblock %}

{% block body %}

	<div class="container">

		<h5>Creation d'un nouveau StatutEmprunt</h5>

		<hr style="width:100%; height:5px; background-color:#1B4F72 ">

		{{ include('CDI/statut_emprunt/_form.html.twig') }}

		<a href="{{ path('statutEmprunt_index') }}" class="btn btn-dark">Liste de statutEmprunt</a>
	</div>
{% endblock %}
