<form method="post" action="{{ path('programme_suppression', {'professeur': programme.professeur.id, 'matiere': programme.matiere.id, 'promotion': programme.promotion.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce programme ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ programme.professeur.id ~ programme.matiere.id ~ programme.promotion.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>