<form method="post" action="{{ path('categorieOuvrage_suppression', {'id': categorieOuvrage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorieOuvrage.id) }}">
	<button class="btn btn-danger">Delete</button>
</form>
