{% extends 'base.html.twig' %}


{% form_theme insertionForm 'bootstrap_4_layout.html.twig'  %}

{% block title %}New Insertion
{% endblock %}

{% block body %}

	<div class="container">

		<h5>Creation d'un nouveau Conseiller Insertion</h5>

		<hr style="width:100%; height:5px; background-color:#1B4F72 ">

		{{ include('Utilisateur/insertion/_form.html.twig') }}

		<a href="{{ path('insertion_index') }}" class="btn btn-dark">Liste de insertion</a>
	</div>
{% endblock %}
