{{ form_start(statutOuvrageForm) }}
    {{ form_widget(statutOuvrageForm) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrez') }}</button> <br><br>
{{ form_end(statutOuvrageForm) }}