<head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
       
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
            {% block importmap %}
                {{ encore_entry_link_tags('app') }}
            {% endblock %}
        {% endblock %}
</head>


