<style>
.header{
    height:200px;
    background:radial-gradient(closest-side at 50% 50%, white, skyblue);
}
.text{
    text-align:center;
    align-items:center;
    font-size:7em;
    font-weight:bold;
    color:darkblue;
}
</style>
<div class="header">
<nav class="row">
        {% if app.user %}
            <a href="" class="btn"> {{ app.user.membreJetons.nombreJeton }} </a>
            <li> boutique </li>
            <li> Messagerie </li>
            <li> Username </li>
        {% endif %}
        <li>Se connecter </li>
    </nav>
</div>