{% extends 'base.html.twig' %}


{% form_theme menuForm 'bootstrap_4_layout.html.twig'  %}

{% block title %}New Menu
{% endblock %}

{% block body %}

	<div class="container">

		<h5>Creation d'un nouveau Menu</h5>

		<hr style="width:100%; height:5px; background-color:#1B4F72 ">

		{{ include('cantine/menu/_form.html.twig') }}

		<a href="{{ path('menu_index') }}" class="btn btn-dark">Liste de menu</a>
	</div>
{% endblock %}
