j<head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
<link rel="stylesheet" href="_css/nav.css">

        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
</head>
<script>
    function loadOnlineCSS() {
        let link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css';
        
        link.crossorigin = "anonymous";
        document.head.appendChild(link);

        let scriptElement = document.createElement('script');
        scriptElement.src = 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js';
        scriptElement.type = 'text/javascript';
        //scriptElement.integrity = "sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0";
        scriptElement.crossorigin = "anonymous";
        document.head.appendChild(scriptElement);
        //link.integrity = "sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl";
            link.integrity = "sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl";
            scriptElement.integrity = "sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0";

    }

    function loadOfflineCSS() {
        let link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = '/_css/bootstrap.min.css';
        document.head.appendChild(link);

        let scriptElement = document.createElement('script');
        scriptElement.src = '/_js/bootstrap.bundle.min.js';
        scriptElement.type = 'text/javascript';
        document.head.appendChild(scriptElement);
    }

if (navigator.onLine) {
    loadOnlineCSS();
} else {
    loadOfflineCSS();
}


window.addEventListener('online', function() {
    loadOnlineCSS();
});

window.addEventListener('offline', function() {
    loadOfflineCSS();
});



window.addEventListener('online', loadOnlineCSS);

window.addEventListener('offline', loadOfflineCSS);
console.log(document.head);
</script>