<style>
.header{
    height:200px;
    background:radial-gradient(closest-side at 50% 50%, white, skyblue);
}
.text{
    text-align:center;
    align-items:center;
    font-size:7em;
    font-weight:bold;
    color:darkblue;
}
</style>
<div class="header">
<div class="text">{{ titre }}</div>
</div>