{% extends 'base.html.twig' %}


{% form_theme fromageForm 'bootstrap_4_layout.html.twig'  %}

{% block title %}New Fromage
{% endblock %}

{% block body %}

	<div class="container">

		<h5>Creation d'un nouveau Fromage</h5>

		<hr style="width:100%; height:5px; background-color:#1B4F72 ">

		{{ include('cantine/fromage/_form.html.twig') }}

		<a href="{{ path('fromage_index') }}" class="btn btn-dark">Liste de fromage</a>
	</div>
{% endblock %}
