{{ form_start(messageGeneralForm) }}
    {{ form_widget(messageGeneralForm) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrez') }}</button> <br><br>
{{ form_end(messageGeneralForm) }}