{% extends 'base.html.twig' %}


{% form_theme promotionForm 'bootstrap_4_layout.html.twig'  %}

{% block title %}Nouvelle promotion{% endblock %}

{% block body %}

	<div class="container">

		<h5>Création d'une nouvelle Promotion</h5>

		<hr style="width:100%; height:5px; background-color:#1B4F72 ">

		{{ include('pedagogie/promotion/_form.html.twig') }}

		<a href="{{ path('promotion_index') }}" class="btn btn-dark">Liste de promotions</a>
	</div>
{% endblock %}
