{{ form_start(surveillantForm) }}
    {{ form_widget(surveillantForm) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrez') }}</button> <br><br>
{{ form_end(surveillantForm) }}