{% extends 'base.html.twig' %}


{% form_theme surveillantForm 'bootstrap_4_layout.html.twig'  %}

{% block title %}New Sirveillant
{% endblock %}

{% block body %}

	<div class="container">

		<h5>Creation d'un nouveau Sirveillant</h5>

		<hr style="width:100%; height:5px; background-color:#1B4F72 ">

		{{ include('utilisateur/surveillant/_form.html.twig') }}

		<a href="{{ path('surveillant_index') }}" class="btn btn-dark">Liste de surveillant</a>
	</div>
{% endblock %}
