<nav id='menu'>
  <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul>
    <li><a href="{{ path('root_accueil') }}">Accueil</a></li>
    <li><a href="{{ path('root_contact') }}">Nous Contacter</a></li>
    <li><a href="{{ path('root_apropos') }}">Qui sommes-nous</a></li>
    <li><a href="{{ path('app_login') }}">se Connecter</a></li> 
  </ul>
</nav>