{% extends 'base.html.twig' %}


{% form_theme produitForm 'bootstrap_4_layout.html.twig'  %}

{% block title %}New Produit
{% endblock %}

{% block body %}

	<div class="container">

		<h5>Creation d'un nouveau Produit</h5>

		<hr style="width:100%; height:5px; background-color:#1B4F72 ">

		{{ include('boutique/produit/_form.html.twig') }}

		<a href="{{ path('produit_index') }}" class="btn btn-dark">Liste de produit</a>
	</div>
{% endblock %}
