{{ form_start(secretariatForm) }}
    {{ form_widget(secretariatForm) }}
    <button class="btn btn-primary">{{ button_label|default('Enregistrez') }}</button> <br><br>
{{ form_end(secretariatForm) }}